<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key>
  <string>en</string>
  <key>CFBundleDisplayName</key>
  <string>BTC/USDT 多空指标指示器</string>
  <key>CFBundleExecutable</key>
  <string>BTCIndicator</string>
  <key>CFBundleIconFile</key>
  <string>Icon.png</string>
  <key>CFBundleIdentifier</key>
  <string>com.jeffereyreng.btc-indicator.launcher</string>
  <key>CFBundleName</key>
  <string>BTC/USDT 多空指标指示器</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>1.1.0</string>
  <key>CFBundleVersion</key>
  <string>2</string>
  <key>LSMinimumSystemVersion</key>
  <string>11.0</string>
</dict>
</plist>
